<ion-header-bar class="bar-positive">
    <div class="buttons">
        <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
        <h1 class="title">All Items</h1>
        <button class="button" ui-sref="createItem">New</button>
    </div>
</ion-header-bar>

<ion-content>
    <ion-list show-delete="data.showDelete" class="list card">
        <ion-item ng-repeat="item in items | orderBy: '-createdAt'"
                  item="item"
                  href="#/item/view/{{item.objectId}}/{{item.content}}" class="item item-text-wrap">
            <div class="card">
            <div class="item item-text-wrap">
            {{item.content}}

          </div>
        </div>
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
        </ion-item>
    </ion-list>
</ion-content>
